CHOST="x86_64-pc-linux-gnu"
COMMON_FLAGS="-march=haswell -O2 -pipe"
CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
FCFLAGS="${COMMON_FLAGS}"
FFLAGS="${COMMON_FLAGS}"
CPU_FLAGS_X86="aes avx avx2 fma3 mmx mmxext popcnt sse sse2 sse3 sse4_1 sse4_2 ssse3"
MAKEOPTS="-j8 -l8"

USE="mmx sse sse2 ssse3 sse4_1 sse4_2 zsh-completion zsh threads vhosts bluetooth cups fuse gtk2 gtk3"
BAD="-kmod -gnome -kde -avahi -real -bindist -win64 -32bit -cdr -static-libs -hal -fbcondecor -zeroconf -bash"

VIDEO_CARDS="intel nvidia"
LINGUAS="es es_PA"
ALSA_CARDS="hda-intel"
INPUT_DEVICES="evdev keyboard mouse synaptics wacom joystick"

ACCEPT_KEYWORDS="~amd64" 
ACCEPT_LICENSE="*"
AUTOCLEAN="yes" 

EMERGE_DEFAULT_OPTS="--quiet --verbose --jobs=8 --load-average=8 --with-bdeps=y --autounmask-write=y"
GRUB_PLATFORMS="efi-64"


# NOTE: This stage was built with the bindist Use flag enabled
PORTDIR="/usr/portage"
DISTDIR="/usr/portage/distfiles"
PKGDIR="/usr/portage/packages"

# This sets the language of build output to English.
# Please keep this setting intact when reporting bugs.
LC_MESSAGES=C